.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;

    .date-picker {
      width: 107px;
    }
  }
}

.error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  color: $error-color;
}
