// Colors
$dark-blue: #00345d;
$blue: #148f77 ;
$off-white: #EBEBEB;
$grey: #a7a7a8;
$dark-grey: #6d6d6d;
$error-color: rgb(151, 41, 41);
// Spacing
$s-size: 10px;
$m-size: 22px;
$l-size: 25px;
$xl-size: 30px;
$desktop-breakpoint: 100px;
$font-size-large: 15px;
$font-size-small: 12px;

// #EBEBEB